[Unit]
Description=Start x11vnc at startup.
Requires=home.mount graphical.target
After=home.mount graphical.target

[Service]
Type=simple
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment AUTH_FILE=$(find /var/run/sddm/ -type f)"
ExecStart=/usr/bin/x11vnc -auth ${AUTH_FILE} -forever -noxdamage -repeat -rfbauth /home/jeff/.vnc/passwd -rfbport 59901 -shared
Restart=always
RestartSec=5


[Install]
WantedBy=graphical.target
